{% extends 'base.html' %}

{% block title  %}
    Главная страница
{% endblock %}

{% block content  %}
    Главная страница
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Atque ipsam itaque placeat sit!</li>
    <li>At nobis nostrum pariatur tenetur.</li>
    <li>Blanditiis expedita hic id odio.</li>
    <li>Asperiores consectetur consequuntur dolorem rerum.</li>
    <li>Facilis incidunt magnam quo rem?</li>
    <li>Blanditiis culpa maiores minus nobis.</li>
    <li>Assumenda est id labore vel?</li>
    <li>Aliquid numquam reiciendis similique voluptas?</li>
    <li>Eaque eveniet fugit ipsam similique.</li>
    <li>Dolores esse omnis quaerat veniam.</li>
    <li>Architecto dolor expedita nobis rerum?</li>
    <li>Inventore nesciunt omnis optio totam!</li>
    <li>Ea labore minus quibusdam veritatis.</li>
    <li>Ab aliquam cupiditate illum ratione!</li>
    <li>Deleniti impedit quaerat quibusdam reiciendis.</li>
    <li>Dignissimos itaque magni placeat sunt.</li>
    <li>Dolore iure nam possimus sed?</li>
    <li>Doloremque earum nisi quod sint?</li>
    <li>Eius hic sequi voluptatem. Consequatur?</li>
    <li>Architecto libero quidem quisquam suscipit.</li>
    <li>Ad dignissimos excepturi omnis? Neque.</li>
    <li>Eius est harum qui sequi?</li>
    <li>Deleniti eius harum nostrum tenetur.</li>
    <li>Adipisci enim quaerat quidem repellat.</li>
    <li>Consequatur corporis iusto nostrum praesentium!</li>
    <li>Aliquam hic labore minus voluptatum?</li>
    <li>A ad atque iusto possimus!</li>
    <li>Accusamus dicta nisi omnis vel.</li>
    <li>Esse laborum nobis quibusdam recusandae.</li>
    <li>Accusantium consectetur eos excepturi minima.</li>
    <li>Animi eos eum modi quaerat.</li>
    <li>Recusandae soluta tempora voluptatem voluptatibus?</li>
    <li>Molestias nobis nostrum odio quas.</li>
    <li>Ad amet enim maiores nobis?</li>
    <li>Aperiam corporis labore mollitia officiis!</li>
    <li>Eos error necessitatibus officiis quis?</li>
    <li>Alias id mollitia sed ullam.</li>
    <li>Blanditiis dolorum ipsum nesciunt odio.</li>
    <li>Consequatur fugit porro vitae voluptatibus.</li>
    <li>Dignissimos eum natus quaerat temporibus.</li>
    <li>Error facere molestiae optio saepe.</li>
    <li>Id itaque laboriosam quis quos.</li>
    <li>Earum harum nobis quo repellat.</li>
    <li>Aperiam dolor in ipsum sapiente!</li>
    <li>Consequatur distinctio illo mollitia porro.</li>
    <li>Ab hic illum nesciunt. Qui.</li>
    <li>Doloribus explicabo libero suscipit vel.</li>
    <li>Impedit labore temporibus totam vitae!</li>
    <li>Blanditiis deleniti ea explicabo ratione.</li>
    <li>Doloribus maxime pariatur praesentium tempora!</li>
    <li>Magnam, minus, odit. Corporis, dolores.</li>
    <li>Eius iure minus nulla veritatis?</li>
    <li>Aliquam architecto eos fuga odio!</li>
    <li>Deserunt dicta mollitia optio voluptatum.</li>
    <li>Alias aliquam autem sint voluptate!</li>
    <li>Aspernatur cupiditate magnam maiores numquam?</li>
    <li>Inventore quibusdam totam veniam veritatis!</li>
    <li>Dignissimos dolore eos natus nemo.</li>
    <li>Dolore earum libero nulla sed!</li>
    <li>Aspernatur aut consequatur facere ipsa.</li>
    <li>Dolorum magni non repudiandae totam.</li>
    <li>Et magni nam pariatur veritatis.</li>
    <li>Distinctio eos ipsum ullam velit.</li>
    <li>Qui quis soluta totam voluptatem?</li>
    <li>Deleniti eum fugiat neque repellat.</li>
    <li>Dicta ducimus esse omnis tempora.</li>
    <li>Et inventore laudantium nihil sequi?</li>
    <li>Dolores impedit numquam possimus velit.</li>
    <li>Asperiores culpa minima officiis repudiandae.</li>
{% endblock %}